{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- h密码就是当前时间分钟指针的指向的数字. -->
<script>
  function checkPassword() {
      var passwordInput = document.getElementById("password").value;
      var inputAsNumber = parseInt(passwordInput);
      var currentTimeInMinutes = new Date().getMinutes();
      var correctPassword = currentTimeInMinutes; 
      if (!isNaN(inputAsNumber) && inputAsNumber >= 1 && inputAsNumber <= 59 && inputAsNumber === correctPassword) {
          var secretelements = document.getElementsByClassName("SecretContainer");
          alert("😄😄😄 Access Success.");
          for (var i = 0; i < secretelements.length; i++) {
          secretelements[i].style.display = "block"; 
          }
      } else {
          alert("😖😖😖 Error password, please contact me via email: weiqiangjin@stu.xjtu.edu.cn");
      }
  }
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">