---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

  <div style="background-color: #FF5733; height: 10px; width: 100%;"></div>

  <div style="text-align: center;">
    <div style="color: green; padding: 10px; font-style: italic; font-weight: bolder;">
      Who is visiting?
  </div>
    <!-- <a href="https://clustrmaps.com/site/1bymr" title="Visit tracker" style="display: inline-block;">
        <img src="//www.clustrmaps.com/map_v2.png?d=HbAxcm84DIc22DN40pBFcj0hbq7mshumdeixyMefXzY&cl=ffffff" style="max-width: 100%; height: auto;">
    </a> -->
    <a href='https://clustrmaps.com/site/1bymr'  title='Visit tracker'>
      <img src='//clustrmaps.com/map_v2.png?cl=080808&w=500&t=tt&d=HbAxcm84DIc22DN40pBFcj0hbq7mshumdeixyMefXzY&co=ffffff&ct=808080'/>
    </a>
  </div>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    <!-- <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=HbAxcm84DIc22DN40pBFcj0hbq7mshumdeixyMefXzY&cl=ffffff&w=a"></script> -->
    <!-- <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=080808&w=a&t=tt&d=HbAxcm84DIc22DN40pBFcj0hbq7mshumdeixyMefXzY&co=ffffff&ct=808080&cmo=3acc3a&cmn=ff5353'></script> -->
    <!-- 黑白地图，且显示总访问量 -->

    <!-- <a href="https://clustrmaps.com/site/1bymr"  title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=HbAxcm84DIc22DN40pBFcj0hbq7mshumdeixyMefXzY&cl=ffffff" /></a> -->
  </body>
</html>
